body {
    background-color: cadetblue;
    width: 98%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#bar{
    text-align: center;
    color: white;
    background-color: purple;
    margin: 5px;
    padding: 5px;
    clear:both;
}

#main-nav{
    background-color: olivedrab;
    text-align: center;
}

#main-nav li{
    display: inline-block;
    position: relative;
}

#main-nav li:hover{
    background-color:black;
    color: grey;
}

#main-nav ul ul{
    display: none;
    position: absolute;
}

#main-nav li:hover ul{
    display: block;
    position: absolute;
    background-color:olivedrab;
    color: black;
    float: left;
    padding: 0;
}

#main-nav ul li{
    list-style-type: none;
    text-align: center;
    padding: 10px;

}

.content-area {
    width: 70%;
    float: left;
}

.content-box {
    background-color:cornflowerblue;
    color: black;
    border: 2px solid black;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
}

input[type="text"] {
    width: 152px;
    transition: width 0.2s ease-in-out;
}

input[type="text"]:focus {
    width: 160px;
}

#rules{
    text-align: center;
    background-color: mediumslateblue;
    color: black;
    border: 2px solid black;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    float: right;
    width: 25%;
}

#rules:hover{
    background-color:olivedrab;
    color: black;
}